PORT={{ devops_demo_app_port }}
POSTGRES_USER={{ devops_demo_postgres_user }}

RAILS_LOG_TO_STDOUT={{ devops_demo_rails_log_to_stdout }}
RAILS_MASTER_KEY={{ devops_demo_rails_master_key }}

RAILS_ENV={{ devops_demo_rails_env }}

APP_DATABASE_HOST={{ devops_demo_postgres_host }}
APP_DATABASE_USER={{ devops_demo_postgres_user }}
APP_DATABASE_PASSWORD={{ devops_demo_postgres_password }}
